<div class="container" id="filter" >
    <form (ngSubmit)="onFilter(f)" #f="ngForm">
        <div class="row justify-content-between align-items-start">
           
                
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input ngModel name="checkIn" placeholder="Select Date" matInput [matDatepicker]="datepicker1">
                        
                    <mat-datepicker-toggle matPrefix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker1></mat-datepicker>
                </mat-form-field>
            </div>
               
            <div class="col-sm">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input ngModel name="checkOut" placeholder="Select Date" matInput [matDatepicker]="datepicker2">
                        
                    <mat-datepicker-toggle matPrefix [for]="datepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker2></mat-datepicker>
                </mat-form-field>
            </div>
                
            <div class="col-sm">
                <mat-form-field  appearance="outline">
                    <mat-label>How many people?</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput ngModel name="personCount">
                </mat-form-field>
            </div>
               
            <div class="col-sm">
                    <!-- <ng-select class="custom" [(ngModel)]="selectedType">
                    <ng-option *ngFor="let type of types" [value]="type.id">{{type.name}}</ng-option>
                 </ng-select> -->
                <mat-form-field appearance="outline">
                    <mat-label>What type of accommodation?</mat-label>
                    <mat-icon matPrefix>hotel</mat-icon>
                    <mat-select ngModel name="accommodationType">
                        <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
                    </mat-select>
                    
                </mat-form-field>
            </div>
     
            <div class="col-sm" id="button" >
                <button type="submit"> Search</button>
            </div>
            
        </div>
    </form>
    
</div>

