<div class="container mt-5 py-5 w-75">
    <div class="row align-items-center">
        <div class="col-sm-10">
           <h4 >Popular locations</h4>
        </div>
        <br>
        <div class="col-sm-2">
           <a routerLink="/locations">ALL LOCATIONS-></a>
        </div>    
       
    </div>
    <br>
    <p *ngIf="locations.length<1 && !isLoading">No locations available</p>
      <div class="container-fluid" *ngIf="locations.length>=5">
         <div class="row align-items-center mb-5" >
            <div class="col-sm"  >
                  <app-location-box  [locationInput]="locations[1]" (locationOutput)="onClicked($event)"  ></app-location-box>
            </div>
            <div class="col-sm">
               <app-location-box [locationInput]="locations[2]" (locationOutput)="onClicked($event)" ></app-location-box>
            </div>
         </div>
         <div class="row align-items-center mb-5" >
            <div class="col-sm-4 col-xs-12 ol-md-offset-2" >
                  <app-location-box [locationInput]="locations[3]" (locationOutput)="onClicked($event)"  ></app-location-box>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-offset-2" >
               <app-location-box [locationInput]="locations[4]" (locationOutput)="onClicked($event)"  ></app-location-box>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-offset-2">
               <app-location-box [locationInput]="locations[5]" (locationOutput)="onClicked($event)" ></app-location-box>
            </div>
         </div>
      </div>
    <div class="container" *ngIf="locations.length<5">
      <div class="row">
         <div class="col" *ngFor="let location of locations">
            <app-location-box [locationInput]="location" (locationOutput)="onClicked($event)"></app-location-box>
         </div>
      </div>
    </div>
    <p style="text-align: center;" *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></p>
    
</div>

