
<div id="accommodation" class="card h-100" (click)="send()" style="width:100%;" class="card img-fluid border-0">
    <img class="card-img-top img-fluid" style="width: inherit ; height:inherit" src="{{accommodationInput.imageUrl}}">
    <div class="card-body">
     <h6  class="card-title" >{{accommodationInput.title}}</h6>
     <p class="card-text" style="color:#ADADAD">{{accommodationInput.location?.name}}</p>
     <p  class="card-text" >EUR {{accommodationInput.price}}</p>
     <div class="card-text">
        <span  *ngFor="let in of counter(accommodationInput.categorization)" style="font-size:200%;color:#F3B08E;">
            &sstarf;
        </span>
        
     </div>  

    </div>
 
</div>


