<div class="container mt-5 py-5 w-75">
    <div class="row align-items-center">
        <span class="col-sm-9">
           <h4 >Home guests love</h4>
        </span>
        <span class="col-sm-2">
           <a  routerLink="/recommendations">VIEW ALL HOMES-></a>
        </span>    
       
    </div>
    <br>
    <p *ngIf="accommodations.length<1 && !isLoading">No accommodations available</p>
    <div class="row align-items-center mb-5" *ngIf="accommodations.length>=1  && !isLoading" >
        <div class="col col-lg" *ngFor="let accommodation of numberOfCol(accommodations,4)">
            <app-accomodation-box [accommodationInput]='accommodation' (accommodationOutput)="onClicked($event)" ></app-accomodation-box>
        </div> 
         
    </div>
    <p *ngIf="isLoading">Loading...</p>
</div>