<app-header></app-header>
    <!-- <app-filter></app-filter> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Popular locations</h4>
                <app-location-box></app-location-box>
                        
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Home guests love</h4>   
                <app-accomodation-box></app-accomodation-box>
                        
            </div>
        </div>
    </div>
    
        
  
 <app-footer></app-footer>
    
        
        
