<div class="card img-fluid">
    <img src="https://stock.adobe.com/ee/search?k=beach+from+above" class="card-img-top">
    <div class="card-img-overlay px-5 pt-5">

        <p class="card-title fw-bold display-1 w-110" style="color:white ;">
            Enjoy your travels
        </p>
        <p class="card-text fw-bold display-5 w-100">
            with Staycation and collect rewards
        </p>
        <p class="card-text h4 fw-bold px-2 pt-1 text-black w-100">
            Book now & save 10% or more today
        </p>
    </div>
</div>

<app-filter ></app-filter> 
<div class="container">
    <div class="row">
           
                
        <app-locations ></app-locations>
                        
           
    </div>
    <div class="row">

               
        <app-accommodation></app-accommodation>

                
     </div>
</div>
