<div id="filter" class="container-fluid py-15">
    <form (ngSubmit)="onFilter(f)" #f="ngForm">
        <div  class="row align-items">
           
            <div class="col-md">
                <mat-form-field appearance="outline" [style.width.px]=220>
                    <mat-label>Where are you going?</mat-label>
                    <mat-icon matPrefix>airport_shuttle</mat-icon>
                    <mat-select ngModel name="location">
                        <mat-option *ngFor="let location of locations" [value]="location.id">{{location.name}}</mat-option>
                    </mat-select>
                        
                </mat-form-field>
            </div>
                
            <div class="col-md">
                <mat-form-field appearance="outline" [style.width.px]=170>
                    <mat-label>Choose a date</mat-label>
                    <input ngModel name="checkIn" placeholder="Select Date" matInput [matDatepicker]="datepicker1">
                        
                    <mat-datepicker-toggle matPrefix [for]="datepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker1></mat-datepicker>
                </mat-form-field>
            </div>
               
            <div class="col-md">
                <mat-form-field appearance="outline" [style.width.px]=170>
                    <mat-label>Choose a date</mat-label>
                    <input ngModel name="checkOut" placeholder="Select Date" matInput [matDatepicker]="datepicker2">
                        
                    <mat-datepicker-toggle matPrefix [for]="datepicker2"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker2></mat-datepicker>
                </mat-form-field>
            </div>
                
            <div class="col-md">
                <mat-form-field  appearance="outline" [style.width.px]=220>
                    <mat-label>How many people?</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput ngModel type="number" name="personCount">
                </mat-form-field>
            </div>
               
            <div class="col-md">
                    <!-- <ng-select class="custom" [(ngModel)]="selectedType">
                    <ng-option *ngFor="let type of types" [value]="type.id">{{type.name}}</ng-option>
                 </ng-select> -->
                <mat-form-field appearance="outline" [style.width.px]=220>
                    <mat-label>What type of accommodation?</mat-label>
                    <mat-icon matPrefix>hotel</mat-icon>
                    <mat-select ngModel name="accommodationType">
                        <mat-option *ngFor="let type of types" [value]="type.name">{{type.name}}</mat-option>
                    </mat-select>
                    
                </mat-form-field>

            </div>
            <div class="col-md" id="button" >
                <button type="submit" > Search</button>
            </div>
     
            
            
        </div>
    </form>
    
</div>
