.header{
    
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: linear-gradient(90deg, #9C9C9C 0.88%, rgba(217, 217, 217, 0) 100.83%);
    opacity: 0.7;

    background-position: center;
    background-repeat: no-repeat;

    height: 510px;
    
   
}

.title-big{
    
    left: 6.25%;
    right: 42.36%;
    top: 14.71%;
    bottom: 62.75%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 120%;
    /* or 115px */

    letter-spacing: -1.5px;
    color: #FFFFFF;
    padding-top: 5%;
    }
.title-medium{
        
    left: 6.25%;
    right: 44.17%;
    top: 40.59%;
    bottom: 48.04%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */

    letter-spacing: -1.5px;
    padding-top: 2%;

    color: #FFFFFF;
}
.title-small{
   
    left: 6.25%;
    right: 60.9%;
    top: 55.49%;
    bottom: 37.06%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */

    letter-spacing: -1.5px;

    /* Teal/Teal-800 */

    color: #1A3440;
    padding-top: 2%;
}

nav {
    
    
    height: 64px;
    left: 0%;
    right: 0%;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 76px;
    gap: 241px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(205, 205, 205, 0.25);
   

}
a#logout.nav-item{
    width: 56px;
    height: 24px;
    letter-spacing: 0.4px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-decoration:none;



    color: #1A3440;




    flex: none;
    order: 2;
    flex-grow: 0;
}
#title{
    width: 96px;
    height: 32px;
}

a>h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-decoration:none;
    color: #1A3440;
    

}

ul{
    list-style-type: none;
}
li a{
    color:#1A3440;
}
li {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    letter-spacing: 0.15px;
    text-decoration: none;
    text-decoration-line:underline;
    display: inline-block;
    padding-right: 48px;
    padding-left: 48px;

}
.container{ 
    max-width: 1280px;
    margin: 0 auto;

    display:flex;
    align-items: center;
    justify-content: space-between;
}
div.collapse.navbar-collapse{
    padding-left: 50px;
    margin-left: 50px;
}
